# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Virtualenvs
.venv/
venv/

# Editors/OS
.DS_Store
.idea/
.vscode/

# Build artifacts
dist/
build/
*.egg-info/

# Local-only resources
local_resources/**
!local_resources/
!local_resources/README.md
